* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: white;
  text-align: center;
}

body {
  background-color: black;
}

h1 {
  margin: 30px;
}

ul {

  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

li {
  list-style: none;
}

select {
  color: black;
  margin: 10px;
}

select, input {

    width: 150px;
    border-radius: 5px;
    border: 1px solid #eee;
}


option {

    color: black;
}

input {
  color: black;
  margin-bottom: 30px;
}
